<% title "Contáctanos"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header_contact'%>
  <div class="l-content-wrap" id="standard-content">
<section>
                    <div class="l-contactus-section l-section">

                        <div class="container">


                            <div class="row">

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                                    <h6>Contáctanos</h6>

                                    <ul>
                                        <li class="opacity"><img src="/img/marker.png" alt="marker image" />M. Marquez esquina Parque Jorge Trigo - Zona Tupuraya</li>
                                        <li class="opacity"><img src="/img/phone.png" alt="phone image" />+591 4 4293100 +591 717 29774</li>
                                        <li class="opacity"><img src="/img/mail.png" alt="mail image"/> graduadosucb@gmail.com</li>
                                        <li class="opacity"><a href="http://www.graduadosucb.com"><img src="/img/magnifier.png" alt="magnifier image"/></a>www.graduadosucb.com</li>
                                        <li class="opacity"><a href="http://www.facebook.com/graduados.ucb"><img src="/img/face.png" alt="magnifier image" width="51"/></a>/graduados.ucb</li>                                    
                                    </ul>

                                </div><!-- col-lg-5 -->

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">

                                    <h6>Envíanos un mensaje</h6>

                                    <div class="row form-margin">

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="Nombre"/>
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="E-Mail" />
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-12 textarea-margin">
                                            <textarea  class="form-control" placeholder="Mensaje" ></textarea>

                                            <button type="button" class="pull-right form-button">Enviar mensaje</button>
                                        </div><!-- col-lg-6 -->

                                    </div><!-- row -->


                                </div><!-- col-lg-7 -->

                            </div><!-- row -->



                        </div><!-- container -->
                    </div><!-- l-contactus-section -->
                      <%= render 'layouts/footer8'%>
                </section>
</div>
</div>