<%= render 'layouts/header_menu'%>

<% title "Nueva Publicación" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Crear Publicación</h1><br>
    <%= render 'form' %>
    <%= link_to 'Back', publications_path, :class=>"back-btn"%>
    <%= render 'layouts/footerAgucb'%>
  </center>
</div>
</section>
