<% title "Estadisticas"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
 <section>

                    <div class="l-skills-section l-section" id="skills">

                        <div class="container">

                            <h4 class="text-center">Estadisticas - Clausura 2014</h4>

                            <div class="m-heading-border"></div><!-- m-heading-border -->

                            <p class="text-center">
                                
                            </p>    


                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 l-chart-wrap text-center">
                                    <a href="/cards"><img src="/img/arbitro.png" width="180"></a>

                                    <h5>Tabla de Amonestaciones</h5>

                                    <p>Tarjetas Amarillas y Rojas, sanciones</p>

                                </div><!-- col-lg-3 -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 l-chart-wrap text-center">
                                    <a href="/scorers"><img src="/img/ball1.png" width="180"></a>

                                    <h5>Tabla de Goleadores</h5>

                                    <p>Maximos artilleros del campeonato</p>

                                </div><!-- col-lg-3 -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 l-chart-wrap text-center">
                                    <a href="/observations"><img src="/img/warning-icon.png" width="180"></a>
                                    <h5>Observaciones</h5>

                                    <p>Observaciones, irregularidades, impugnaciones</p>

                                </div><!-- col-lg-3 -->

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12    l-chart-wrap text-center">
                                    <img src="/img/position.png" width="180">

                                    <h5>Tabla de Posiciones</h5>

                                    <p>Posiciones de los equipos de las categorias A y B</p>

                                </div><!-- col-lg-3 -->

                            </div><!-- row -->



                        </div><!-- container -->

                    </div><!-- l-paralax-section -->
                    <%= render 'layouts/footer8'%>
                </section>
</div>