<% title "Editar Cuenta" %>
<div class="page-loader"></div>
<div class="l-wrapper">
  <div class="l-content-wrap" id="standard-content">
    <section>
    <div class="l-form-section l-section">
      <center>
		<%= render 'form' %>
		<div class="l-copyright text-center">
        	© Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
      	</div>
      </center>
    </div>
    </section>
  </div>
</div>