<%= render 'layouts/header_menu'%>
<% title "Editar Cuenta" %>
<div class="page-loader"></div>
<div class="l-wrapper">
  <div class="l-content-wrap" id="standard-content" >
    <section>
    <div class="l-form-section l-section" style="margin-top: 0px;">
      <center>
        <h1>Editar Usuario</h1><br>
		    <%= render 'form' %>
		    <div class="l-copyright text-center">
        	© Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
      	</div>
      </center>
    </div>
    </section>
  </div>
</div>