<% title "Registrar Usuario" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <p style="color:green">¿Ya tienes una cuenta? <%= link_to "Iniciar Sesión", login_path, :class => "link-style-view" %>.</p>
    <h1>Registrar Usuario</h1><br>
    <%= render 'form' %>
    <div class="l-copyright text-center">
      © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
    </div>
  </center>
</div>
</section>