<%= render 'layouts/header_menu'%>

<% title "Nuevo Asociado" %>

<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Registrar Asociado</h1><br>
    <%= render 'form' %><br>
    <%= link_to 'Back', associateds_path, :class=>"back-btn"%><br><br>
    <div class="l-copyright text-center">
      © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
    </div>
  </center>
</div>
</section>