
<!DOCTYPE html>
<html>
    <head>
        <title>Ravan HTML Template Built Width Bootstrap 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="shortcut icon" href="img/favicon.ico">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
        
        <script src="inc/js/jquery-1.11.0.min.js"></script>
                       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Bootstrap reset -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-reset.css">
        
        <!-- flexslider load -->        
        <link rel="stylesheet" href="inc/flexslider/flexslider.css" type="text/css">        
               
        <!-- easy pie chart -->
        <link rel="stylesheet" type="text/css" href="inc/easy-pie-chart/demo/style.css">
                
        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="inc/magnific/dist/magnific-popup.css"> 

        <!-- YTP -->
        <link href="inc/YTPlayer/css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
       
        <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">        
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/colors.css">
    </head>
    <body>

      <div class="l-wrapper">

        <header>
                
                <div class="clearfix"></div>
            </header>


            <div class="menu-wrap">
                <!-- NAVIGATION -->
                <div class="l-navigation-wrap menu-padd" id="l-navigation">
                    <div class="m-navbar container">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                
                                <div class="l-logo">
                                  <a href="#splash-image-wrap">
                                      <img src="img/logo1.png" alt="logo"  />
                                  </a>
                                </div><!-- l-logo -->
                                
                                
                                
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                </button>                                
                              </div>

                              <!-- Collect the nav links, forms, and other content for toggling -->
                              <div class="collapse navbar-collapse" id="navbar">
                             
                                    <ul class="nav navbar-nav navbar-right">
                                      <li class="active">
                                       <a href="#page-section">Inicio</a>
                                      </li>
                                      <li><a href="#partidos">Partidos</a></li>
                                      <li><a href="#testimonials">Estadisticas</a></li>
                                      <li><a href="#skills">Equipos</a></li>
                                      <li><a href="#gallery">Reglamentos</a></li>
                                      <li><a href="#team">Contacto</a></li>
                                      <li class="arrow-login-1"><a href="#splash-image-wrap"></a></li>
                                    </ul>
                                                                                              
                              </div><!-- /.navbar-collapse -->
                                                          
                              
                            </div><!-- /.container-fluid -->
                          </nav>
                    </div><!-- m-navbar -->
                </div><!-- l-navigation -->
                
            </div><!-- content -->

   <div class="l-content-wrap" id="standard-content">

        <section>

                    <div class="l-latest-posts l-section" id="news">

                        <div class="container">

                            <h1 class="text-center">Noticias</h1>

                            <div class="m-heading-border"></div><!-- m-heading-border -->

                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae scelerisque nibh. 
                                Morbi fermentum ipsum odio, id dictum leo egestas vel. Sed commodo, nunc eget ultrices viverra, turpis odio luctus nisl, sit amet porttitor diam nulla in augue. 
                                Etiam eu felis libero. Nam feugiat ultrices sapien eget sagittis.
                            </p>           

                            <div class="clearfix"></div><!-- clearfix -->


                            <div class="m-posts">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                        <div class="m-news-post">                                                                        
                                            <div class="m-image-wrap">      
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a>Asterix, primera vez en final</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->
                                                
                                                <img src="img/news-one.jpg" alt="latest post image" />                                    
                                            </div><!-- m-image-wrap -->

                                            <div class="news-content">
                                                <h6>
                                                    <a href="#">Vestibulum et eros scelerisque</a>
                                                </h6>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                                </p>

                                                <div class="clearfix"></div><!-- clearfix -->
                                                <a  href="#post-popup1" class="news-button open-popup-link">Read More</a>
                                            </div><!-- news-content -->

                                        </div><!-- m-news-post -->                                                                

                                        
                                        <!-- post popup content -->
                                        <div id="post-popup1" class="white-popup mfp-hide">
                                            <img src="img/news-one.jpg" alt="popup-image" />
                                            <p>
                                                Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                                Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                                Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                            </p>
                                        </div>
                                        
                                        
                                    </div><!-- col-lg-4 -->

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                        <div class="m-news-post">                                                                        
                                            <div class="m-image-wrap">     
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a href="#post-popup2">Computers Science</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->
                                                    
                                                <img src="img/news-one2.jpg" alt="latest post image" />                                    
                                            </div><!-- m-image-wrap -->

                                            <div class="news-content">
                                                <h6>
                                                    <a href="#">Vestibulum et eros scelerisque</a>
                                                </h6>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                                </p>

                                                <div class="clearfix"></div><!-- clearfix -->
                                                <a  href="#post-popup2" class="news-button open-popup-link">Read More</a>
                                            </div><!-- news-content -->
                                            
                                        <!-- post popup content -->
                                        <div id="post-popup2" class="white-popup mfp-hide">
                                            <img src="img/gallery2.jpg" alt="popup-image" />
                                            <p>
                                                Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                                Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                                Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                            </p>
                                        </div>

                                        </div><!-- m-news-post -->                                                                

                                    </div><!-- col-lg-4 -->

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                        <div class="m-news-post">                                                                        
                                            <div class="m-image-wrap">                                        
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a href="#post-popup3">Computers</a>, <a href="#post-popup3">Science</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->                                    
                                                <img src="img/news-one3.jpg" alt="latest post image" />                                    
                                            </div><!-- m-image-wrap -->

                                            <div class="news-content">
                                                <h6>
                                                    <a href="#">Vestibulum et eros scelerisque</a>
                                                </h6>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                                </p>

                                                <div class="clearfix"></div><!-- clearfix -->
                                                <a  href="#post-popup3" class="news-button open-popup-link">Read More</a>
                                                
                                                
                                                <!-- post popup content -->
                                                <div id="post-popup3" class="white-popup mfp-hide">
                                                    <img src="img/gallery4.jpg" alt="popup-image" />
                                                    <p>
                                                        Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                                        Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                                        Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                                    </p>
                                                </div>
                                                
                                            </div><!-- news-content -->

                                        </div><!-- m-news-post -->                                                                

                                    </div><!-- col-lg-4 -->

                                </div><!-- row -->

                            


                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                    <div class="m-news-post">                                                                        
                                        <div class="m-image-wrap">                                        
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a href="#post-popup4">Computers</a>, <a href="#post-popup4">Science</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->                         
                                            <img src="img/news-one4.jpg" alt="latest post image" />                                    
                                        </div><!-- m-image-wrap -->

                                        <div class="news-content">
                                            <h6>
                                                <a href="#">Vestibulum et eros scelerisque</a>
                                            </h6>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                            </p>

                                            <div class="clearfix"></div><!-- clearfix -->
                                            <a  href="#post-popup4" class="news-button open-popup-link">Read More</a>
                                        </div><!-- news-content -->

                                    </div><!-- m-news-post -->                                                                

                                    <!-- post popup content -->
                                    <div id="post-popup4" class="white-popup mfp-hide">
                                        <iframe src="//player.vimeo.com/video/79505580?badge=0" width="500" height="245"></iframe> <p><a href="http://vimeo.com/79505580">"LILA"</a> from <a href="http://vimeo.com/carloslascano">Carlos Lascano</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                        <p>
                                            Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                            Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                            Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                        </p>
                                    </div>
                                    
                                </div><!-- col-lg-4 -->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                    <div class="m-news-post">                                                                        
                                        <div class="m-image-wrap">                                        
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a href="#post-popup5">Computers</a>, <a href="#post-popup5">Science</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->                                     
                                            <img src="img/news-one5.jpg" alt="latest post image" />                                    
                                        </div><!-- m-image-wrap -->

                                        <div class="news-content">
                                            <h6>
                                                <a href="#">Vestibulum et eros scelerisque</a>
                                            </h6>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                            </p>

                                            <div class="clearfix"></div><!-- clearfix -->
                                            <a  href="#post-popup5" class="news-button open-popup-link">Read More</a>
                                        </div><!-- news-content -->
                                        
                                        <!-- post popup content -->
                                        <div id="post-popup5" class="white-popup mfp-hide">
                                            <img src="img/gallery1.jpg" alt="popup-image" />
                                            <p>
                                                Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                                Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                                Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                            </p>
                                        </div>
                                        
                                        
                                    </div><!-- m-news-post -->                                                                

                                </div><!-- col-lg-4 -->

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">

                                    <div class="m-news-post">                                                                        
                                        <div class="m-image-wrap">                                        
                                                <div class="hover-wrap">
                                                    <div class="image-hover">                                            
                                                        <div class="categories">
                                                            <a href="#post-popup6">Computers</a>, <a href="#post-popup6">Science</a>
                                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                                        </div>                                            
                                                        <div class="post-meta">                                                
                                                            <div class="post-comments text-left">
                                                                10 comments
                                                            </div><!-- comments -->                                                
                                                            <div class="post-date text-right">
                                                                12 - jan - 2014
                                                            </div>                                                
                                                        </div><!-- post-meta -->                                            
                                                    </div>  <!-- image-hover -->
                                                </div><!-- hover-wrap -->                                    
                                            <img src="img/news-one6.jpg" alt="latest post image" />                                    
                                        </div><!-- m-image-wrap -->

                                        <div class="news-content">
                                            <h6>
                                                <a href="#">Vestibulum et eros scelerisque</a>
                                            </h6>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp.or incididunt 
                                            </p>

                                            <div class="clearfix"></div><!-- clearfix -->
                                            <a  href="#post-popup6" class="news-button open-popup-link">Read More</a>
                                        </div><!-- news-content -->

                                    </div><!-- m-news-post -->            

                                    <!-- post popup content -->
                                    <div id="post-popup6" class="white-popup mfp-hide">
                                        <img src="img/gallery6.jpg" alt="popup-image" />
                                        <p>
                                            Nulla ullamcorper odio vel elit hendrerit dignissim. In hac habitasse platea dictumst. Suspendisse nec pharetra leo, sit amet tempus ipsum. 
                                            Phasellus sapien elit, scelerisque vel eleifend sit amet, luctus quis neque. Nullam enim eros, aliquet in tellus non, lobortis consectetur ipsum. 
                                            Sed magna augue, luctus venenatis ante vitae, blandit eleifend elit. Donec ac dictum lorem. Duis sed massa quis dui volutpat varius eu quis dui.
                                        </p>
                                    </div><!-- white-popup -->
                                    
                                    
                                </div><!-- col-lg-4 -->

                            </div><!-- row -->
                            
                        </div><!-- m-posts -->

                        </div><!-- container -->

                    </div><!-- l-latest-posts -->
        </section>



         <!-- PARTIDOS -->
                <section>

                    <div class="l-paralax-section testimonials-paralax paralax-section2 l-section"  data-0="background-position:0px 800px;" data-10000="background-position:0px -2000px;"  id="partidos">

                    
                            <div class="flexslider-testimonials flexslider">
                                <ul class="slides">
                                  <li class="text-center">
                                      <div class="container opacity">
                                          <div class="col-lg-12">
                                                <h4>Sabado 6 de Septiembre</h4><h1>14:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>PAPINES</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL STARS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                          </div><!-- col-lg-12 -->
                                      </div><!-- container -->
                                    
                                  </li>

                                    <li class="text-center">
                                        <div class="container opacity">
                                          <div class="col-lg-12">
                                            <h4>Sabado 6 de Septiembre</h4><h1>15:00</h1>
                                            <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>PIRATAS</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>DERECHO F.C.</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                          </div><!--  col-lg-12  -->
                                        </div><!-- container -->
                                      </li>
                                      
                                        <li class="text-center">
                                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Sabado 6 de Septiembre</h4><h1>16:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                                            </div><!-- container -->
                                          </li>

                                          <li class="text-center">
                                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Domingo 7 de Septiembre</h4><h1>10:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                                            </div><!-- container -->
                                          </li>

                                          <li class="text-center">
                                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Domingo 7 de Septiembre</h4><h1>11:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                                            </div><!-- container -->
                                          </li>

                                </ul>
                              </div><!-- flexslider -->


                    </div><!-- l-paralax-section -->

                </section>


        <section>
          <div class="l-contactus-section l-section">

                        <div class="container">


                            <div class="row">

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                                    <h6>Contactanos</h6>

                                    <ul>
                                        <li class="opacity"><img src="img/marker.png" alt="marker image" />Campus UCB, Tupuraya</li>
                                        <li class="opacity"><img src="img/phone.png" alt="phone image" /> 4 293 100 (616)int</li>
                                        <li class="opacity"><img src="img/mail.png" alt="mail image"/> contacto@agucb.com</li>
                                        <li class="opacity"><img src="img/magnifier.png" alt="magnifier image"/> www.agucb.com</li>                                    
                                    </ul>

                                </div><!-- col-lg-5 -->

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">

                                    <h6>Envianos un mensaje</h6>

                                    <div class="row form-margin">

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="Nombre"/>
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="E-Mail" />
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-12 textarea-margin">
                                            <textarea  class="form-control" placeholder="Mensaje" ></textarea>

                                            <button type="button" class="pull-right form-button">Enviar mensaje</button>
                                        </div><!-- col-lg-6 -->

                                    </div><!-- row -->


                                </div><!-- col-lg-7 -->

                            </div><!-- row -->



                        </div><!-- container -->


            <div class="l-copyright text-center">
              Copyright 2014 @agucb.com
            </div><!-- l-copyright -->
          </div><!-- l-contactus-section -->

        </section>

        </div><!-- l-content-wrap -->


<!--
        <h1>Tabla de goleadores</h1>


        <div class="table-responsive">
            <table class="table">
            <tr>
                <td class="active">Nº</td>
                <td class="success">Nombre</td>
                <td class="warning">Equipo</td>
                <td class="danger">Goles</td>
                <td class="info">5</td>
            </tr>
            <tr>
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            </table>
        </div>
-->
      </div><!-- l-wrapper -->


      <!-- LOAD SCRIPTS -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="inc/bootstrap/js/bootstrap.min.js"></script>
        
        <!-- flexslider -->
         <script src="inc/flexslider/jquery.flexslider.js"></script>
                
        <!-- skrollr -->
        <script type="text/javascript" src="inc/skrollr/dist/skrollr.min.js"></script>

        <!-- easy pie chart -->
        <script src="inc/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        
        <!-- isotope -->
        <script src="inc/isotope/jquery.isotope.min.js" ></script>
            
        <!-- isotope -->
        <script src="inc/nice-scroll/jquery.nicescroll.min.js" ></script>
        
        <!-- google maps -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        
        <!-- Magnific Popup core JS file -->
        <script src="inc/magnific/dist/jquery.magnific-popup.js"></script> 
        
        <!-- Waypoints -->
        <script src="inc/waypoints/waypoints.min.js"></script>
                
        <!-- YTP -->
        <script type="text/javascript" src="inc/YTPlayer/inc/jquery.mb.YTPlayer.js"></script>
        
        <!-- script calling -->
        <script src="inc/js/common.js"></script>   

    </body>
</html>