
<!DOCTYPE html>
<html>

    <head>
        <title>Ravan HTML Template Built Width Bootstrap 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        
        <link rel="shortcut icon" href="img/favicon.ico">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
        
        <script src="inc/js/jquery-1.11.0.min.js"></script>
                       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Bootstrap reset -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-reset.css">
        
        <!-- flexslider load -->        
        <link rel="stylesheet" href="inc/flexslider/flexslider.css" type="text/css">        
               
        <!-- easy pie chart -->
        <link rel="stylesheet" type="text/css" href="inc/easy-pie-chart/demo/style.css">
                
        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="inc/magnific/dist/magnific-popup.css"> 

        <!-- YTP -->
        <link href="inc/YTPlayer/css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
       
        <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">        
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/colors.css">

        <script language="JavaScript"> 
            var NACT=null; 
            var PARAMETRO=window.location.search.substr(1); 
            if(PARAMETRO && PARAMETRO.length>0) 
            { 
            NACT=new Number(PARAMETRO); 
            } 
            if(!NACT) 
            { 
            window.location=window.location+"?1"; 
            } 
        </script>
    </head>
    <body>

      <div class="l-wrapper">

        <header>
                
                <div class="clearfix"></div>
            </header>


            <div class="menu-wrap">
                <!-- NAVIGATION -->
                <div class="l-navigation-wrap menu-padd" id="l-navigation">
                    <div class="m-navbar container">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                
                                <div class="l-logo">
                                  <a href="#splash-image-wrap">
                                      <img src="img/logo1.png" alt="logo"  />
                                  </a>
                                </div><!-- l-logo -->
                                
                                
                                
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                </button>                                
                              </div>

                              <!-- Collect the nav links, forms, and other content for toggling -->
                              <div class="collapse navbar-collapse" id="navbar">
                             
                                    <ul class="nav navbar-nav navbar-right">
                                      <li class="active">
                                       <a href="#page-section">Inicio</a>
                                      </li>
                                      <li><a href="#partidos">Partidos</a></li>
                                      <li><a href="#testimonials">Estadisticas</a></li>
                                      <li><a href="#skills">Equipos</a></li>
                                      <li><a href="#gallery">Reglamentos</a></li>
                                      <li><a href="#team">Contacto</a></li>
                                      <li class="arrow-login-1"><a href="#splash-image-wrap"></a></li>
                                    </ul>
                                                                                              
                              </div><!-- /.navbar-collapse -->
                                                          
                              
                            </div><!-- /.container-fluid -->
                          </nav>
                    </div><!-- m-navbar -->
                </div><!-- l-navigation -->
                
            </div><!-- content -->

   <div class="l-content-wrap" id="standard-content">
    
        <div class="l-section"></div>
        <!-- PARTIDOS -->
        <section>

            <div class="l-paralax-section testimonials-paralax paralax-section2 l-section l-section" id="partidos">
                  
                <div class="flexslider-testimonials flexslider">
                    <ul class="slides">
                        <li class="text-center">
                                      <div class="container opacity">
                                          <div class="col-lg-12">
                                                <h4>Sabado 6 de Septiembre</h4><h1>14:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>PAPINES</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL STARS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                          </div><!-- col-lg-12 -->
                                      </div><!-- container -->
                                    
                        </li>

                        <li class="text-center">
                            <div class="container opacity">
                                          <div class="col-lg-12">
                                            <h4>Sabado 6 de Septiembre</h4><h1>15:00</h1>
                                            <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>PIRATAS</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>DERECHO F.C.</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                          </div><!--  col-lg-12  -->
                            </div><!-- container -->
                        </li>
                                      
                        <li class="text-center">
                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Sabado 6 de Septiembre</h4><h1>16:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                            </div><!-- container -->
                        </li>

                        <li class="text-center">
                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Domingo 7 de Septiembre</h4><h1>10:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                            </div><!-- container -->
                        </li>

                        <li class="text-center">
                            <div class="container opacity">
                                              <div class="col-lg-12">
                                                <h4>Domingo 7 de Septiembre</h4><h1>11:00</h1>
                                                <img src="img/avatar10.jpg" alt="avatar" />
                                                <h4>ASTERIX</h4><h1>0</h1>
                                                <span>VS</span>
                                                <h4>ALL BLACKS</h4><h1>0</h1>
                                                <p>
                                                  Complejo Salomon (Av. Melchor Peres 2 cuadras antes de la Av. Circunvalacion)
                                                </p>
                                              </div><!--  col-lg-12  -->
                            </div><!-- container -->
                        </li>
                    </ul>
                </div><!-- flexslider -->

            </div><!-- l-paralax-section -->

        </section>


        <section>
          <div class="l-contactus-section l-section">

                        <div class="container">


                            <div class="row">

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                                    <h6>Contactanos</h6>

                                    <ul>
                                        <li class="opacity"><img src="img/marker.png" alt="marker image" />Campus UCB, Tupuraya</li>
                                        <li class="opacity"><img src="img/phone.png" alt="phone image" /> 4 293 100 (616)int</li>
                                        <li class="opacity"><img src="img/mail.png" alt="mail image"/> contacto@agucb.com</li>
                                        <li class="opacity"><img src="img/magnifier.png" alt="magnifier image"/> www.agucb.com</li>                                    
                                    </ul>

                                </div><!-- col-lg-5 -->

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">

                                    <h6>Envianos un mensaje</h6>

                                    <div class="row form-margin">

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="Nombre"/>
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" placeholder="E-Mail" />
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-12 textarea-margin">
                                            <textarea  class="form-control" placeholder="Mensaje" ></textarea>

                                            <button type="button" class="pull-right form-button">Enviar mensaje</button>
                                        </div><!-- col-lg-6 -->

                                    </div><!-- row -->


                                </div><!-- col-lg-7 -->

                            </div><!-- row -->



                        </div><!-- container -->


            <div class="l-copyright text-center">
              Copyright 2014 @agucb.com
            </div><!-- l-copyright -->
          </div><!-- l-contactus-section -->

        </section>

    </div><!-- l-content-wrap -->


<!--
        <h1>Tabla de goleadores</h1>


        <div class="table-responsive">
            <table class="table">
            <tr>
                <td class="active">Nº</td>
                <td class="success">Nombre</td>
                <td class="warning">Equipo</td>
                <td class="danger">Goles</td>
                <td class="info">5</td>
            </tr>
            <tr>
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            </table>
        </div>
-->
    </div><!-- l-wrapper -->


      <!-- LOAD SCRIPTS -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="inc/bootstrap/js/bootstrap.min.js"></script>
        
        <!-- flexslider -->
         <script src="inc/flexslider/jquery.flexslider.js"></script>
                
        <!-- skrollr -->
        <script type="text/javascript" src="inc/skrollr/dist/skrollr.min.js"></script>

        <!-- easy pie chart -->
        <script src="inc/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        
        <!-- isotope -->
        <script src="inc/isotope/jquery.isotope.min.js" ></script>
            
        <!-- isotope -->
        <script src="inc/nice-scroll/jquery.nicescroll.min.js" ></script>
        
        <!-- google maps -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        
        <!-- Magnific Popup core JS file -->
        <script src="inc/magnific/dist/jquery.magnific-popup.js"></script> 
        
        <!-- Waypoints -->
        <script src="inc/waypoints/waypoints.min.js"></script>
                
        <!-- YTP -->
        <script type="text/javascript" src="inc/YTPlayer/inc/jquery.mb.YTPlayer.js"></script>
        
        <!-- script calling -->
        <script src="inc/js/common.js"></script>   

    </body>
</html>