<%= render 'layouts/header8'%>
	<section>

                    <div class="l-page-section l-section" id="page-section">

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="text-center">Historia</h2>
                                    <center>
                                    <img src="/img/historia.jpg" width="250">
                                    <img src="/img/historia4.jpg" width="250">
                                    <img src="/img/historia2.jpg" width="250">
                                    </center>
                                    <h5 class="text-center">
                                        La Liga UCB- ALUMNI de Fútbol 8 fue creada el 11 de marzo del año 2013 por la Asociación de Graduados de la Universidad Católica Boliviana “San Pablo”, bajo las Presidencia del Dr. Fernando Andrade Ruiz. Sus categorías son: JUVENIL (damas-varones). SENIOR (sólo varones). 
                                    </h5>

                                </div><!-- col-lg-12 -->
                            </div><!-- row -->

                            <div class="separator"></div><!-- separator -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="text-center">Objetivos</h2>
                                    <center>
                                    <img src="/img/idea.png" width="100">
                                    <img src="/img/gol.png" width="100">
                                    <img src="/img/quienes.png" width="100">
                                    </center>
                                    <h5 class="text-center">
                                        Integrar a la comunidad de la UCB en torno a la práctica del fútbol.
                                        Mantener el vínculo afectivo de los ex alumnos con su Alma Mater.
                                        Confraternizar deportivamente entre miembros de la comunidad UCB: graduados, estudiantes, autoridades, funcionarios administrativos, docentes.
                                        Institucionalizar Clubes de Fútbol al interior de la UCB  
                                    </h5>

                                </div><!-- col-lg-12 -->
                            </div><!-- row -->

                            <div class="separator"></div><!-- separator -->

                            <div class="row">

                            	<h2 class="text-center">Campeonatos realizados</h2>

                                <div class="col-lg-4 col-md-4 col-sm-4 text-center">

                                    <img src="img/trophy3.png" alt="icon" class="round-icon" width="180"/>
                                    <h5><b>Apertura 2013</b></h5>                                
                                    <h6>
                                    CAMPEÓN JUVENIL VARONES: <b>ALL STARS</b><br> 
                                    SUB CAMPEÓN: CEBOLLITAS<br>
                                    CAMPEÓN JUVENIL DAMAS: <b>KLINSEC</b><br>
                                    SUB CAMPEÓN: Facultad SETON<br>
                                    CAMPEÓN SENIOR: <b>VODKA SENIOR</b><br>  
                                    SUB CAMPEÓN: AMIGOS DE SIEMPRE
                                    </h6>

                                </div><!-- col-lg-4 -->

                                <div class="col-lg-4 col-md-4 col-sm-4 text-center">

                                    <img src="img/trophy2.png" alt="icon" class="round-icon" width="180" />                                                                
                                    <h5><b>Clausura 2013</b></h5>                                
                                    <h6>                                    
                                        CAMPEÓN JUVENIL VARONES: <b>ALL STARS</b><br>
                                        SUB CAMPEÓN: NARANJA MECÁNICA<br>
                                        CAMPEÓN SENIOR: <b>AMIGOS DE SIEMPRE</b><br>  
                                        SUB CAMPEÓN:  POOL VAZZO
                                    </h6>

                                </div><!-- col-lg-4 -->

                                <div class="col-lg-4 col-md-4 col-sm-4  text-center">

                                    <img src="img/trophy1.png" alt="icon" class="round-icon" width="180" />
                                    <h5><b>Apertura 2014</b></h5>                                
                                    <h6>                                    
                                        CAMPEÓN JUVENIL VARONES: <b>ALL STARS</b><br> 
                                        SUB CAMPEÓN: PAPINES<br>
                                        CAMPEÓN SENIOR: <b>ASTERIX</b><br>  
                                        SUB CAMPEÓN: ALL BLACKS
                                    </h6>

                                </div><!-- col-lg-4 -->

                            </div><!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="text-center">Convocatoria Campeonato de Futbol 8</h2>

                                    <center>
                                    <img src="/img/player.png" width="150">
                                    </center>

                                    <h5 class="text-center">
                                        -	Abierto a estudiantes ,  graduados, egresados, docentes, autoridades, administrativos.<br> 
										-	Los equipos deberán inscribir 10 jugadores como mínimo.<br>
										-	La categoría Sénior está destinada a graduados mayores de 30 años.<br>
										-	Los equipos deberán realizar la inscripción mediante el nuevo sistema. Se exigirá uniforme completo (zapatos sin toperoles).<br>
										-	La fecha de inscripciones será avisada para cada oportunidad.
                                    </h5>

                                </div><!-- col-lg-12 -->
                            </div><!-- row -->

                            <div class="separator"></div><!-- separator -->


                        </div><!-- container -->                    

                    </div><!-- l-page-section -->
                    <%= render 'layouts/footer8'%>

    </section>