
<!DOCTYPE html>
<html>
    <head>
        <title>Ravan HTML Template Built Width Bootstrap 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="shortcut icon" href="img/favicon.ico">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
        
        <script src="inc/js/jquery-1.11.0.min.js"></script>
                       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Bootstrap reset -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-reset.css">
        
        <!-- flexslider load -->        
        <link rel="stylesheet" href="inc/flexslider/flexslider.css" type="text/css">        
               
        <!-- easy pie chart -->
        <link rel="stylesheet" type="text/css" href="inc/easy-pie-chart/demo/style.css">
                
        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="inc/magnific/dist/magnific-popup.css"> 

        <!-- YTP -->
        <link href="inc/YTPlayer/css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
       
        <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">        
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/colors.css">
    </head>
    <body>

            <div class="menu-wrap">
                <!-- NAVIGATION -->
                <div class="l-navigation-wrap menu-padd" id="l-navigation">
                    <div class="m-navbar container">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                
                                <div class="l-logo">
                                  <a href="#splash-image-wrap">
                                      <img src="img/logo.png" alt="logo"  />
                                  </a>
                                </div><!-- l-logo -->
                                
                                
                                
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                </button>                                
                              </div>

                              <!-- Collect the nav links, forms, and other content for toggling -->
                              <div class="collapse navbar-collapse" id="navbar">
                             
                                    <ul class="nav navbar-nav navbar-right">
                                      <li class="active">
                                       <a href="#page-section">Inicio</a>
                                      </li>
                                      <li><a href="#whatwedo">¿Quienes Somos?</a></li>
                                      <li><a href="#news">Noticias</a></li>
                                      <li><a href="#testimonials">Eventos</a></li>
                                      <li><a href="#skills">Skills</a></li>
                                      <li><a href="#gallery">Fotos</a></li>
                                      <li><a href="#team">Team</a></li>
                                      <li><a href="#contact">Contacto</a></li>
                                      <li class="arrow-top pull-right"><a href="#splash-image-wrap"></a></li>
                                    </ul>
                         
                                                                                              
                              </div><!-- /.navbar-collapse -->
                                                          
                              
                            </div><!-- /.container-fluid -->
                          </nav>
                    </div><!-- m-navbar -->
                </div><!-- l-navigation -->
                
            </div><!-- content -->
<h1>Tabla de goleadores</h1>


        <div class="table-responsive">
            <table class="table">
            <tr>
                <td class="active">Nº</td>
                <td class="success">Nombre</td>
                <td class="warning">Equipo</td>
                <td class="danger">Goles</td>
                <td class="info">5</td>
            </tr>
            <tr>
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            </table>
        </div>


        


    </body>
</html>