
<!DOCTYPE html>
<html>
    <head>
       <title>Asociacion de Graduados UCB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="shortcut icon" href="img/favicon.ico">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
        
        <script src="inc/js/jquery-1.11.0.min.js"></script>
                       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Bootstrap reset -->
        <link rel="stylesheet" href="inc/bootstrap/css/bootstrap-reset.css">
        
        <!-- flexslider load -->        
        <link rel="stylesheet" href="inc/flexslider/flexslider.css" type="text/css">        
               
        <!-- easy pie chart -->
        <link rel="stylesheet" type="text/css" href="inc/easy-pie-chart/demo/style.css">
                
        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="inc/magnific/dist/magnific-popup.css"> 

        <!-- YTP -->
        <link href="inc/YTPlayer/css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
       
        <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">        
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/colors.css"> 
    </head>
    <body>
       
        <div class="page-loader"></div>
        
        <div class="l-wrapper">
            
            <!-- HEADER -->
            <header>
                
                <div class="splash-image-wrap" id="splash-image-wrap">
                    <div class="m-splash-image col-mg-12" id="splash-image" data-0="background-position:center 0px;" data-10000="background-position:center -2000px;">

                        <div class="flexslider flexslider-splash">
                            <ul class="slides">

                                <li class="slide-background">
                                    <!--<video id="video_background" class="video-background" src="img/one_more_new.webm" autoplay="autoplay" loop></video>-->
                                    <div class="splash-wrap slider-background">

                                        <div class="splash-content">


                                            <div class="container">
                                                <div class="col-lg-9 div-centered">                                        
                                                    <div class="splash-centering" >
                                                        <h1>ASOCIACION DE GRADUADOS</h1><br/>

                                                        <div class="splash-text">
                                                            <p>UNIVERSIDAD CATOLICA BOLIVIANA</br>"SAN PABLO"</p>
                                                        </div><!-- splash-text -->

                                                        <!--<a href="/prueba" class="btn">Futbol 8</a>--> 
                                                        <a href="/agucb" class="btn second-btn">Ingresar</a>
                                                    </div><!-- splash-centering -->
                                                </div><!-- span12 -->

                                            </div><!-- container -->

                                        </div><!-- splash-title -->
                                    </div><!-- splash-wrap -->
                                </li>
                                
                                
                                <li>
                                    <div class="video-overlay"></div>

                                    <section id="video_background1" class="video-background">
                                        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Tc3PZ3Im5aQ',containment:'#video_background1',showControls:false, autoPlay:true, mute:true, startAt:0, opacity:1}"></a>
                                    </section>


                                    <div class="splash-wrap">

                                        <div class="splash-content">

                                            <div class="container">
                                                <div class="col-lg-9 div-centered">                                        
                                                    <div class="splash-centering" >
                                                        <h1>CAMPEONATO "ALUMNI" FUTBOL 8</h1><br />
                                                        <div class="clearfix"></div>
                                                        <div class="splash-text">
                                                            <p>ASOCIACION DE GRADUADOS</br>UNIVERSIDAD CATOLICA BOLIVIANA</p>
                                                        </div><!-- splash-text -->

                                                        <!--<a href="#" class="btn">Futbol 8</a> -->
                                                        <a href="/futbol8" class="btn second-btn">Ingresar</a>
                                                    </div><!-- splash-centering -->
                                                </div><!-- span12 -->

                                            </div><!-- container -->

                                        </div><!-- splash-title -->
                                    </div><!-- splash-wrap -->
                                </li>                                
                                
                            </ul>
                        </div><!-- flexslider -->

                        <div class="arrow-wrap">
                            <div class="bottom-arrow"></div>
                        </div><!-- arrow-wrap -->


                    </div><!-- m-splash-image -->
                </div><!-- splash-image-wrap --> 
                
                <div class="clearfix"></div>
            </header>
            

            
            
            <div class="l-content-wrap" id="standard-content">
            
            </div><!-- l-content-wrap -->
            
        </div><!-- l-wrapper -->
               
        
        <!-- LOAD SCRIPTS -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="inc/bootstrap/js/bootstrap.min.js"></script>
        
        <!-- flexslider -->
         <script src="inc/flexslider/jquery.flexslider.js"></script>
                
        <!-- skrollr -->
        <script type="text/javascript" src="inc/skrollr/dist/skrollr.min.js"></script>

        <!-- easy pie chart -->
        <script src="inc/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        
        <!-- isotope -->
        <script src="inc/isotope/jquery.isotope.min.js" ></script>
            
        <!-- isotope -->
        <script src="inc/nice-scroll/jquery.nicescroll.min.js" ></script>
        
        <!-- google maps -->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        
        <!-- Magnific Popup core JS file -->
        <script src="inc/magnific/dist/jquery.magnific-popup.js"></script> 
        
        <!-- Waypoints -->
        <script src="inc/waypoints/waypoints.min.js"></script>
                
        <!-- YTP -->
        <script type="text/javascript" src="inc/YTPlayer/inc/jquery.mb.YTPlayer.js"></script>
        
        <!-- script calling -->
        <script src="inc/js/common.js"></script>        
        
    </body>   
</html>