<%= render 'layouts/header_menu'%>

<% title "Nuevo Evento" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Registrar Evento</h1><br>
    <%= render 'form' %>
    <%= link_to 'Back', events_path, :class=>"back-btn"%>
    <div class="l-copyright text-center">
      © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
	  </div>
  </center>
</div>
</section>