<div class="l-copyright text-center" style="margin-top:0;">
	© Asociacion de Graduados UCB 2014 - Todos los derechos reservados <small>|| Desarrollado por: Leonardo Mejia Pacheco</a></small> 
</div>